.product {
  height: 40px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ececec;
  box-shadow: 2px 2px 2px -2px #2874f0;
}
.rowPro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
}
