.orderItemContainer{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    
}
.orderImgContainer{
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.orderImg{
    max-width: 100px;
    max-height: 150px;
}
.orderRow{
    display: flex;
    flex: 1;
}
.orderName{
    width: 300px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 18px;
    color: black;
}
.orderPrice{
    box-sizing: border-box;
    padding: 0 250px;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    color: black;
  }